.button1 {
  background-color: #ffce27;
  border-width: 0;
  padding: 10px;
  border-radius: 25px;
}
.wl-background {
  display: flex;
  background-color: #ffffff30;
  padding: 10px;
}
.wl-background1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wl-background2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.win-or-lose {
  text-align: center;
  color: #ffffff;
}
.score1 {
  color: #6a59ff;
  font-weight: bolder;
  font-size: 40px;
}
@media screen and (max-width: 767px) {
  .button1 {
    background-color: #ffce27;
    border-width: 0;
    padding: 10px;
    border-radius: 25px;
  }
  .wl-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #ffffff30;
    padding: 30px;
    height: 60vh;
    border-radius: 25px;
  }
  .wl-background1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wl-background2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .score {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  .win-or-lose {
    text-align: center;
    color: #ffffff;
  }
  .score1 {
    color: #6a59ff;
    font-weight: bolder;
    font-size: 20px;
  }
  .small-image {
    height: 25vh;
  }
}
